@import "../colors-main";

.comentario-card {
    padding: 12px 0 0 12px;
    margin-top: 16px;
    border-top: 1px solid $gray-1;

    .comentario-card-header {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: start;
        margin-bottom: 6px;
    }

    .comentario-name-container {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: start;
        margin-bottom: 6px;
    }

    .comentario-name {
        font-weight: bold;
        font-size: 14px;
        color: $gray-7 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .comentario-flagged::after {
        content: "Flagged";
        text-transform: uppercase;
        font-size: 10px;
        background: $red-7;
        color: $white;
        margin-left: 8px;
        padding: 2px 6px 2px 6px;
        border-radius: 100px;
        line-height: 17px;
    }

    .comentario-moderator::after {
        content: "Moderator";
        text-transform: uppercase;
        font-size: 10px;
        background: $green-7;
        color: $white;
        margin-left: 8px;
        padding: 2px 6px 2px 6px;
        border-radius: 100px;
        line-height: 17px;
    }

    .comentario-subtitle {
        color: $gray-5;
        font-size: 12px;
    }

    .comentario-options {
        display: flex;
        justify-content: space-between;

        .comentario-options-sub {
            display: flex;
            align-items: center;
        }
    }

    .comentario-option-button {
        margin: 0;
        padding: 8px;
        width: 32px;
        height: 32px;
        color: $gray-6;
        opacity: 0.5;
        transition: all 0.2s;

        &:hover {
            opacity: 1;
        }

        svg {
            width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .comentario-btn-collapse {
        transition: all 0.2s;

        &.comentario-collapsed {
            transform: rotate(180deg);
        }
    }

    .comentario-score {
        display: inline;
        color: $gray-4;
        font-weight: 700;
        transition: color 0.2s;
    }

    .comentario-upvoted {
        color: $green-6;
    }

    .comentario-downvoted {
        color: $orange-6;
    }

    .comentario-card-body {
        p {
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }

    // Hide the header and the body when there's an editor inside the card (immediate children only, not in the nested
    // cards)
    &.comentario-editor-inserted {
        > .comentario-card-header,
        > .comentario-card-body,
        > .comentario-options {
            display: none;
        }
    }

}

.comentario-dark-card {
    background: $red-0;
}

.comentario-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 22px;
    float: left;
    margin-right: 10px;
    border: 0 transparent;
}

.comentario-avatar-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 10px;
}
