@import "../colors-main";

.comentario-profile-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    a.comentario-profile-link {
        color: $gray-6 !important;
        margin: 6px 12px;
        font-size: 13px;

        &:hover, &:focus, &:active {
            color: $blue-6 !important;
        }
    }

    .comentario-logged-in-as {
        display: flex;
        align-items: center;
        padding: 12px 0;

        .comentario-name {
            color: $gray-8;
            font-weight: bold;
        }
    }
}
